html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.el-breadcrumb{
    font-size: 12px;
    margin-bottom: 10px;
}
.el-card{
    height: 100%;
    padding: 10px;
}
.el-card__body {
    padding: 0 !important;
  }
  .el-dialog{
      border-radius: 10px;
  }
  .el-dialog__header{
      border-bottom: 1px solid #eee;
  }
  .el-dialog__body{
      padding: 10px;
  }
  .el-dialog__footer{
    border-top: 1px solid #eee;
  }
  .el-dialog__title{
      font-weight: 700;
  }